<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/complain" method="post">
    Name: <br>
    <input type="text" name='author'><br>
    On: <br>
    <input type="text" name='user'><br>
    Feedback: <br>
    <input type="text" name='text'><br>
    Grade: <br>
    <input type="text" name='grade'><br>
    Contract: <br>
    <input type="text" name='contract'><br>

    <input type="submit" value="send">
</form>


</body>
</html>