<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Hello {{ fullname }}</h1>


<form action="/items" method="post">
    Name: <br>
    <input type="text" name='name'><br>
    Photo: <br>
    <input type="text" name='photo'><br>
    description: <br>
    <input type="text" name='description'><br>
    price_hour: <br>
    <input type="text" name='price_hour'><br>
    price_day: <br>
    <input type="text" name='price_day'><br>
    price_week: <br>
    <input type="text" name='price_week'><br>
    Price_months: <br>
    <input type="text" name='price_months'><br>

    <input type="submit" value="send">
</form>


</body>
</html>